body{
	background-image: url("https://image.freepik.com/foto-gratis/marco-colorido-verduras-espacio-copia_23-2148290738.jpg");
	background-size: cover;
 	background-repeat:no-repeat;
  	background-position: center;
  	background-attachment: fixed;

  	
}

#btn{
	float: right;
	height: 50px;
}
#box{
	background: #B0FF9A;
	width: 3400px;
	height: 50px; 
	
}
